@import "tailwindcss";

@theme {
	--color-dk-negative: #2c292d;
	--color-dk-positive: #b4b4b4;
	--color-dk-primary: #c78ab3;
	--color-dk-secondary: #de7d41;
	--color-dk-tertiary: #ffd240;
	--color-dk-positive-200: hsl(from var(--color-dk-positive) h s 100%);

	--color-lt-negative: #f2f2f2;
	--color-lt-positive: #635b69;
	--color-lt-primary: #ac6b97;
	--color-lt-secondary: #d5631c;
	--color-lt-tertiary: #ff9900;
	--color-lt-positive-200: hsl(from var(--color-lt-positive) h s 0%);

	--font-sans: "Encode Sans", sans-serif;
	--font-headings: "Bevellier Variable", Bevellier, "Encode Sans", sans-serif;
	--font-mono:
		"Maple Mono Normal NL", "MonoLisa Variable", MonoLisa, mononoki, monospace;
}
